.load-wraper{
    position: relative;
    background-color: rgb(211,211,211);
    z-index: 1;
    overflow: hidden;
    height: 203px;
    width: 100%;
}

.load-wraper.listing{
    height: 93px;
}

.activity{
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    animation: loading 1s infinite;
    z-index: 2;
}

.liste-principale.liste-conversations{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom:10px;
    width: 100%;
}

@media screen and (min-width: 992px){
    .load-wraper{
        height: 290px;
    }

    .load-wraper.listing{
        height: 160px;
    }
}

@keyframes loading {
    0%{
        left: -45%;
    }
    100%{
        left: 100%;
    }
}
